html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'TT Lakes', sans-serif; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.header__left-part, .header__middle-part, .header__right-part {
  display: flex;
  gap: 16px;
  align-items: center; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  background-color: #fff; }

.header__tablet {
  display: flex;
  gap: 20px; }
  @media screen and (min-width: 768px) {
    .header__tablet {
      display: flex; } }

.header__support {
  background: url(./static/support.svg) #ff3e79 no-repeat center; }

.header__search {
  background: url(./static/search.svg) #ff3e79 no-repeat center; }

.header__phone {
  background: url(./static/phone.svg) #ff3e79 no-repeat center; }

.header__message {
  background: url(./static/message.svg) #ff3e79 no-repeat center; }

.header__personal {
  background: url(./static/personal.svg) #ff3e79 no-repeat center; }

.header__middle-part {
  display: none; }
  @media screen and (min-width: 768px) {
    .header__middle-part {
      display: flex;
      gap: 20px; } }

.header__right-part::before {
  content: '';
  height: 32px;
  width: 2px;
  background-color: #eaeaea; }

.header__menu {
  background: url(./static/menu.svg) #ff3e79 no-repeat center; }

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px; }

@media screen and (min-width: 768px) {
  .header__logo::before {
    content: '';
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
    display: inline; } }

@media screen and (min-width: 1360px) {
  .header {
    display: none; } }

.button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  cursor: pointer; }

.page {
  margin: 0;
  background: #f8f8f8;
  margin: 0 auto; }
  .page__wrapper {
    display: unset; }
    @media screen and (min-width: 1360px) {
      .page__wrapper {
        display: grid;
        grid-template-columns: 320px 1fr; } }
  .page__menu {
    width: 320px;
    padding: 18px 24px;
    box-sizing: border-box;
    left: 0;
    display: none;
    height: 100%;
    grid-template-rows: 60px 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    background: #fff; }
  .page__menu {
    display: none; }
    @media screen and (min-width: 1360px) {
      .page__menu {
        display: block; } }

.main__wrapper {
  padding: 24px 0 0; }
  @media screen and (min-width: 768px) {
    .main__wrapper {
      padding: 24px 24px 0; } }
  @media screen and (min-width: 1360px) {
    .main__wrapper {
      padding: 24px 32px 0;
      position: relative; } }

.main__title {
  font-size: 28px;
  color: #1b1c21;
  letter-spacing: -0.6px;
  margin: 0 16px; }

.main__title::before {
  content: '';
  width: 4px;
  height: 40px;
  background: #41f6d7;
  position: absolute;
  left: 0;
  border-radius: 4px; }

.main__service-list {
  padding: 0;
  margin: 24px 0;
  gap: 20px;
  display: flex; }
  @media screen and (min-width: 768px) {
    .main__service-list {
      margin: 24px -16px 32px; } }
  @media screen and (min-width: 1360px) {
    .main__service-list {
      overflow: initial;
      gap: 15px;
      flex-wrap: wrap;
      margin: 24px 0 16px; } }

.main__service-list::after {
  content: ' ';
  height: 40px;
  width: 24px;
  position: absolute;
  right: 0;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }

.main__picture-block-text {
  padding: 0 16px 16px; }
  @media screen and (min-width: 768px) {
    .main__picture-block-text {
      padding: 0; } }

.main__text-item {
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  letter-spacing: 0.2px; }
  @media screen and (min-width: 768px) {
    .main__text-item {
      line-height: 20px;
      margin-top: 0; } }

.main__text-item--hidden {
  display: none; }

.main__read-more-button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-family: 'TT Lakes', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px; }

.main__read-more-button::before {
  content: '';
  width: 8px;
  height: 11px;
  background-size: contain;
  background: url(./static/arrows.svg) no-repeat;
  cursor: pointer; }

.main__picture-block-img {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .main__picture-block-img {
      border-radius: 5px;
      width: 47%; } }

.main__button-block {
  display: none; }

@media screen and (min-width: 768px) {
  .main__text-item--hidden:nth-child(2) {
    display: block; }
  .main__picture-block {
    display: flex;
    gap: 48px; } }

@media screen and (min-width: 1360px) {
  .main__text-item--hidden:nth-child(3) {
    display: block; }
  .main__text-item--hidden:nth-child(2) {
    display: none; }
  .main__title-block {
    display: flex;
    justify-content: space-between; }
  .main__button-block {
    display: flex;
    align-items: center;
    gap: 32px; } }

@media screen and (min-width: 1120px) {
  .button-block {
    color: #1b1c21;
    font-weight: 500; }
    .button-block__item {
      display: flex;
      align-items: center;
      gap: 8px; }
    .button-block__button {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      cursor: pointer; }
    .button-block__name {
      cursor: pointer; }
    .button-block__support {
      background: url(./static/support.svg) #ff3e79 no-repeat center; }
    .button-block__search {
      background: url(./static/search.svg) #ff3e79 no-repeat center; } }

.service-list {
  list-style: none;
  overflow: scroll; }
  .service-list::-webkit-scrollbar {
    display: none; }
  .service-list__item:first-child {
    margin-left: 16px; }
    @media screen and (min-width: 1120px) {
      .service-list__item:first-child {
        margin-left: 0; } }
  .service-list__item {
    white-space: nowrap;
    padding: 8px 16px;
    margin: 0 -16px 0 0;
    color: #7e7e82;
    letter-spacing: -0.2px;
    text-align: center; }
  .service-list__item--active {
    background-color: #fff;
    border: 2px solid #41f6d7;
    border-radius: 5px; }

.menu__button {
  background: url(./static/close.svg) #ff3e79 no-repeat center;
  display: none; }

.menu__search {
  background: url(./static/search.svg) #ff3e79 no-repeat center;
  justify-self: flex-end; }

.menu__top-part {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 16px;
  margin-bottom: 45px; }

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item:not(:last-child) {
  margin-bottom: 16px; }

.menu__link {
  color: #1b1c21;
  letter-spacing: -0.2px;
  cursor: pointer;
  transition-duration: 0.5s; }

.menu__call {
  background: url(./static/phone.svg) #ff3e79 no-repeat center; }

.menu__message {
  background: url(./static/message.svg) #ff3e79 no-repeat center; }

.menu__personal {
  background: url(./static/personal.svg) #ff3e79 no-repeat center; }

.menu__socials {
  display: flex;
  gap: 16px;
  margin-bottom: 16px; }

.menu__mail {
  display: block;
  text-decoration: none;
  color: #1b1c21;
  margin-bottom: 12px; }

.menu__phone {
  display: block;
  text-decoration: none;
  color: #1b1c21;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.6px;
  margin-bottom: 30px; }

.menu__lang {
  display: flex;
  gap: 7px; }

.menu__lang-item {
  text-decoration: none;
  color: #1b1c21;
  cursor: pointer;
  transition-duration: 0.5s; }

.menu__link:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5); }

.menu__item::before {
  content: '';
  width: 4px;
  height: 32px;
  background: #41f6d7;
  position: absolute;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  transition-duration: 0.5s; }

.menu__item:hover::before {
  opacity: 1; }

.menu__lang-item:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5); }

.menu__bottom-part {
  align-self: flex-end; }

@media screen and (max-width: 1360px) {
  .menu {
    box-shadow: 16px 0px 52px 0px #0e185033; } }

@font-face {
  font-family: 'TT Lakes';
  font-weight: 400;
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"), url(./fonts/TTLakes-Regular.woff) format("truetype"); }

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype"), url(./fonts/TTLakes-Medium.woff) format("truetype"); }

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  src: url(./fonts/TTLakes-Bold.ttf) format("truetype"), url(./fonts/TTLakes-Bold.woff) format("truetype"); }


/*# sourceMappingURL=style.css.map*/