%buttonOff {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.show-more-button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-family: 'TT Lakes', sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;

  &::before {
    content: '';
    width: 8px;
    height: 11px;
    background: url(../img/arrows.svg) no-repeat;
    cursor: pointer;
  }
  &--open::before {
    @media screen and (min-width: 768px) {
      transform: rotate(180deg);
    }
  }
  &.brands__show-more-button {
    @extend %buttonOff;
  }
  &.types__show-more-button {
    @extend %buttonOff;
  }
}
