.title {
  font-weight: 100;
  color: $gray_text;
  line-height: 24px;
  letter-spacing: -0.2px;

  &--uppercase {
    text-transform: uppercase;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
    border-top: 1px solid #d9fff5;
    padding: 20px 16px;
    margin-left: 0;
    margin-right: 0;
    @media screen and (min-width: 768px) {
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px 20px;
    }
    @media screen and (min-width: 1360px) {
      margin-left: -30px;
      margin-right: -30px;
      padding: 20px 30px;
    }
  }
  &--lowercase {
    text-transform: initial;
  }
}
