.footer {
  @media screen and (min-width: 450px) {
    grid-area: 2 / 2 / 2 / 2;
  }
  &__wrapper {
    padding: 0 30px;
    margin: 50px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    color: $gray_text;
    width: 33%;
    font-size: 14px;
  }
  &__block p {
    margin: 0;
  }
  &__block:last-child {
    text-align: right;
  }
  &__link {
    cursor: pointer;
  }
  &__link:hover {
    color: $lime_color;
  }
}
