.menu {
  &__wrapper {
    height: 100vh;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
    position: fixed;
    background: $bgColor;
    z-index: 100;
    @media screen and (min-width: 420px) {
      width: 320px;
    }
    @media screen and (min-width: 1360px) {
      height: 100%;
      grid-template-rows: 60px 1fr 1fr;
      width: 276px;
      padding: 18px 24px;
    }
    @media screen and (max-width: 1360px) {
      box-shadow: 16px 0px 52px 0px #0e185033;
    }
  }
  &__button {
    background: url(../img/close.svg) $pink_color no-repeat center;
    display: block;
    @media screen and (min-width: 1360px) {
      display: none;
    }
  }

  &__search {
    background: url(../img/menu_search.svg) $pink_color no-repeat center;
    justify-self: flex-end;
  }

  &__top-part {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    align-items: center;
    gap: 16px;
    @media screen and (min-width: 1360px) {
      margin-bottom: 45px;
      grid-template-columns: 100px 1fr;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item:not(:last-child) {
    margin: 18px 0;
    @media screen and (min-width: 1360px) {
      margin: 24px 0;
    }
  }

  &__link {
    color: #1b1c21;
    letter-spacing: -0.2px;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  &__call {
    background: url(../img/phone.svg) $pink_color no-repeat center;
  }

  &__message {
    background: url(../img/message.svg) $pink_color no-repeat center;
  }

  &__personal {
    background: url(../img/personal.svg) $pink_color no-repeat center;
  }

  &__socials {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__mail {
    display: block;
    text-decoration: none;
    color: $text;
    margin-bottom: 12px;
  }

  &__phone {
    display: block;
    text-decoration: none;
    color: $text;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.6px;
    margin-bottom: 30px;
  }

  &__lang {
    display: flex;
    gap: 7px;
  }

  &__lang-item {
    text-decoration: none;
    color: $text;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  &__link:hover {
    filter: opacity(0.5);
  }

  &__item::before {
    content: '';
    width: 4px;
    height: 24px;
    background: $lime_color;
    position: absolute;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.5s;
  }

  &__item:hover::before {
    opacity: 1;
  }

  &__lang-item:hover {
    filter: opacity(0.5);
  }
  &__bottom-part {
    align-self: flex-end;
    margin-bottom: 40px;
  }
  &--open {
    display: block;
  }
}
