@import 'variables';
@import 'normalize';
@import '../../node_modules/swiper/swiper';
@import '../../node_modules/swiper/modules/pagination';
@import '../../node_modules/swiper/modules/navigation';
@import '../blocks/header/header';
@import '../blocks/button/button';
@import '../blocks/page/page';
@import '../blocks/main/main';
@import '../blocks/button-block/button-block';
@import '../blocks/service-list/service-list';
@import '../blocks/menu/menu';
@import '../blocks/brands/brands';
@import '../blocks/title/title';
@import '../blocks/types/types';
@import '../blocks/slider-item/slider-item';
@import '../blocks/prices/prices';
@import '../blocks/swiper-slide/swiper-slide';
@import '../blocks/footer/footer';
@import '../blocks/modal/modal';
@import '../blocks/show-more-button/show-more-button';
@import '../blocks/swiper-pagination/swiper-pagination';

@font-face {
  font-family: 'TT Lakes';
  font-weight: 400;
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype'),
    url('../fonts/TTLakes-Regular.woff') format('truetype');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype'),
    url('../fonts/TTLakes-Medium.woff') format('truetype');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype'),
    url('../fonts/TTLakes-Bold.woff') format('truetype');
}

%slider-shadow {
  content: ' ';
  height: 80%;
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  z-index: 100;
  @media screen and (min-width: 450px) {
    display: none;
  }
}
